.navbar-container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    .nav-bar-logo {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .nav-bar-links {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .navbar-link {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  